@vw_design: 750;
@vw_fontsize: 75;

@font_name_color:#d8505c;
@border_color:#ccc;

// @vw(@px){
//   @px / @vw_design * 100vw;
// }

.fontSize(@px) {
    font-size: (@px / @vw_design) * 100vw;
}


// @rem(@px){
//   (@px / @vw_fontsize ) *1rem;
// }


.jd-page .swiper-pagination-bullet{
    border-color:#fff;
  background-color:#fff;
}

.jd-page .swiper-paination-bullet-active{
  background-color:#222;
}


.flex-box(@direction: row, @wrap: wrap, @jus: space-around, @items: center) {
    display: flex;
    flex-direction: @direction;
    flex-wrap: @wrap;
    justify-content: @jus;
    align-items: @items;
}

a {
    text-decoration: none;
    color: #222;
}

h1 {
    font-size: 0;
}

img {
    display: block;
    outline: 0;
    border: 0;
}


.jd-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

// header
.jd-head {
    .flex-box(column, nowrap, flex-start, center);
    width: 100%;
}

.jd-search {
    position: fixed;
    .flex-box(row, nowrap, space-around, center);
    width: 100%;
    padding: (10 / @vw_design * 100vw);
    box-sizing: border-box;
    background-color: rgba(122, 0, 0, 0.3);
    z-index:2;
}

.jd-search_logo {
    width: (120 / @vw_design * 100vw);
    height: (72 / @vw_design * 100vw);
    background-color: red;
}

.jd-search_input>input::placeholder{
   color:#222;
}
.jd-search_input>input{
    width: (520 / @vw_design * 100vw);
    height: (60 / @vw_design * 100vw);
    line-height: (60 / @vw_design * 100vw);
    border: 0;
    outline: 0;
    border-radius: (60 / @vw_design * 100vw);
}
.jd-search_input{
  position: relative;
  .flex-box(row, nowrap, flex-start,center)
}

.jd-icon_search {
    width: (40 / @vw_design * 100vw);
    height: (40/ @vw_design * 100vw);
    position: absolute;
    left:8px;
}

.jd-search_login {
    color: #fff;
}



// banner

.jd-banner{
    width:100%;
}
.jd-banner img{
    width:100%;
}

// nav

.jd-nav{
    width:100%;
    .flex-box(row, wrap, space-around,center );
    background-color:#fff;
    padding:(20 / @vw_design * 100vw) 0;
    height:(300 / @vw_design * 100vw);
    box-sizing:border-box;
    align-content: space-between;
    box-shadow: 0px -1px 2px #ccc;
}

.jd-nav_item{
    width: (186 / @vw_design * 100vw);
    text-align: center;
    .flex-box(column, nowrap, flex-start, center);
    height: (132 / @vw_design * 100vw);
}

.jd-nav_icon{
   width: (80 / @vw_design * 100vw);
   height: (80 / @vw_design * 100vw);

}

.jd-nav_title{
    padding-top: (4 / @vw_design * 100vw);
    font-size: (10/ @vw_design * 100vw);
}

// main

.jd-main{
    box-sizing: border-box;
   position: relative;
   padding:(10 / @vw_design * 100vw) (10 / @vw_design * 100vw) 0;
}

.jd-seckill{
    width:100%;
    box-shadow:0 0 1px #ccc;
    box-sizing:border-box;
    padding:0 (10 / @vw_design * 100vw);
    background-color:#fff;
}


.jd-title-more{
    .flex-box(row, nowrap, space-between,center);
    width: 100%;
    height: (68 / @vw_design * 100vw);
    padding:0 (10 / @vw_design * 100vw) ;
    box-sizing:border-box;
}

.jd-title-more_icon{
    width:(32 / @vw_design * 100vw);
    height: (40 / @vw_design * 100vw);
    margin-right: (16/ @vw_design * 100vw);
}
.jd-titile-more_left{
    .flex-box(row, nowrap, flex-start,center);
}

.jd-title-more_name{
    .fontSize(10);
    color:@font_name_color;
    padding:0 (20/ @vw_design * 100vw);
}

.jd-title-block{
    .fontSize(10);
    .flex-box(row, nowrap, space-around,center);
    width:(242/ @vw_design * 100vw);
}

.jd-time-block_item{
    color:#fff;
    padding:2px 4px;
    background-color:#000;
    margin-left:2px;
}

.jd-time_colon{
   .fontSize(8);
    white-space:0;
    letter-spacing:0;
    padding:0 2px;
    max-width: 4px;
}

.jd-title-more_jump{
    .fontSize(10);
    color:#222;
}

.jd-scroll-list{
    .flex-box(row, nowrap, space-around,center);
    padding:(5 / @vw_design * 100vw);

}
.jd-croll-list_item{
    padding: 0 (40/ @vw_design * 100vw);
    .flex-box(row, nowrap, space-between,center);
    .fontSize(10);
    color:#222;
}

.jd-scroll-list_pic{
    width:100%;
}

.jd-scroll-list_price{
    color:@font_name_color;
}

.jd-scroll-list_del-price{
    line-height: 10px;;
}



.jd-product{
    width:100%;
    box-shadow:0 0 1px #ccc;
    box-sizing:border-box;
    margin-top:(10 / @vw_design * 100vw);
    background-color:#fff;

}

.jd-product_title{
    padding:(4 / @vw_design * 100vw) (10 / @vw_design * 100vw) ;
    width: 100%;
    font-weight: 400;
    .fontSize(16);
    .flex-box(row, nowrap, flex-start,center);
    position: relative;;
    box-sizing:border-box;
}

.jd-product_title::before{
    content:'';
    display: block;
    width:(4 / @vw_design * 100vw);
    height: (16 / @vw_design * 100vw);
    margin-right:(8 / @vw_design * 100vw);
    background-color:@font_name_color;
}
.jd-product_title::after{
    content:'';
    left:0;
    width:100%;
    height: 1px;
    position:absolute;
    bottom:0;
    transform: scaleY(0.5);
    background-color:@border_color;
}

.jd-product_content{
    .flex-box(row, nowrap, flex-start,flex-start);
}

.jd-product_item{
    .flex-box(column, nowrap, flex-start,center);
    position: relative;
    width:50%;
    flex:1;

}

.jd-product_item.border-right{
    border-right: 1px solid @border_color;
}
.jd-product_content::after{
    border-right: 1px solid @border_color;
    position: absolute;
    content:'';
    left:50%;
    width:1px;
    height: 100%;
    transform: translate(-50%,0);

}
.jd-product_item img{
   width: 100%;
}

.jd-product_item--top{
        // border-right: 1px solid @border_color;
        border-bottom: 1px solid @border_color;

}

.jd-product_item--bottom{
    
}